@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Vast+Shadow&display=swap');

:root {
  --background: #1B1B1B;
  --foreground: #F5F5F5;
}

body {
  color: var(--background);
  background: var(--foreground);
}

.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}